.popup__container {
    position: relative;
    width: 430px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 1023px) {
    .popup__container {
        width: 282px;
    }
}
